<div class="header">
  <a routerLink="/homePage">HOME</a>
  <div class="container">
    <img (click)="changeView()" [src]="user.image" />
    <div [hidden]="!isSelected" class="box-info">
      <img class="image" [src]="user.image" />
      <p>{{ user.firstname }} {{ user.lastname }}</p>
      <p>{{ user.email }}</p>
      <button class="profile" [routerLink]="['profile']" (click)="changeView()">Profile</button>
      <button class="log-out" (click)="service.logOut()">Log Out</button>
    </div>
  </div>
</div>
