.user-info {
  height: 100px;
  background-color: yellowgreen;

  img {
    justify-self: end;
    height: 50px;
    width: 50px;
  }
}

.box-info {
  background-color: black;
  padding: 5px;
  color: white;
  height: auto;
  width: 45%;
}

